# Настройки среды разработки
.idea/
# Файлы компиляции
out/
# IML представляет собой модуль файл, созданный IntelliJ IDEA, в среде IDE используется для разработки Java-приложений.
# Он хранит информацию о модуле развития, который может быть Java, Plugin, Android, или компонент Maven;
# сохраняет пути к модулям, зависимости и другие параметры.
my-super-project.iml
# Мавен зачем-то туда компилирует проект
target/